@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=latin-ext");

body {
  font-family: $font-stack;
  font-size: 16px;
  color: #eee;
  background: $whitish;
}

.weather-wrapper {
  background: darken($color: $whitish, $amount: 10);
  background-position: cover;
  background-attachment: fixed;
  padding: 30px;
  width: 95%;
  max-width: 900px;
  min-height: 600px;
  margin: 4em auto 0;
  border-radius: 10px;
}